<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut autem cupiditate excepturi hic in iusto laudantium, minima molestiae nam optio, placeat porro, provident quas qui quis quo ut voluptas.</p>
    <img th:src="@{/gifs/compiler-bot.gif}" alt="logo"/>
</body>
</html>